.header {
	color: #fff;
	background-color: #005bb4;
	padding: 5px 0px 5px 5px;
	font-size: 18px;
	border-bottom: 3px solid #004181;
}

.headerLogoContainer {
	margin-left: 5px;
}

.headerLogoImage {
	height: 25px;
}

.pageHeader {
	background-color: #EEEFF1;
	padding: 10px;
	border-bottom: 3px solid #d2d5da;
}


/*######################### MOOD SCALE #########################*/
.moodScaleContainer {
	margin-left: auto;
	margin-right: auto;
	width: 227px;
}
.moodScale {
	position: relative;
	background-color: #d2d5da;
	width: 202px;
	left: 15px;
}
.moodScaleSegment {
	position: relative;
	float: left;
	height: 20px;
	width: 2px;
}
.moodScaleMarker {
	border-radius: 5px;
	border: 2px solid #00274E;
	background-color: #00274E;
	position: absolute;
	top: -4px;
	left: -6px;
	width: 8px; 
	height: 28px; 
	opacity: 0;
}
.moodIcon {
	height: 30px;
	width: 30px;
}
/*######################### MOOD SCALE #########################*/


/*######################### HOME WIDGETS #########################*/
.homeKeywordTitle {
	background-color: red;
}

.homeWidgetTitle {
	padding: 0px;
	margin: 0px 0px 25px 0px;
}

/*######################### HOME WIDGETS #########################*/


.entryListRow {
	position: relative;
	color: #00274e;
	display: block;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #EEEFF1;
}

.grayBorderBox {
	font-size: 20px;
	color: #777;
	margin-top: 15px;
	padding: 25px;
	border: 1px solid #EEEFF1;
}

