<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-12">
		<h4 class="noSpace">Your Account</h4>
	</div>
</div>


<!-- Alerts Include -->
<span ng-include="'views/includes/alerts.html'"></span>

<div class="container" style="margin-top:10px;padding: 0px 10px 25px 10px;border-bottom:2px">
	<!-- Main Link & basic info -->
	<div class="col-md-12">
		<!-- Logo -->
		<div class="col-md-2">
			<div class="accountSection" ng-style="computeSectionStyle('logo')">
				<!-- Logo Image -->
				<div class="accountLogoContainer">
					<img class="accountLogo" ng-src="{{ accountLogoSource }}"/>
				</div>
			
				<!-- Edit Logo Button (before change) -->
				<div class="row" ng-if="!allowEditLogo">
					<div class="col-md-12">
						<span class="btn btn-block btn-default btn-file">
						    Change Logo <input ng-model="accountLogoFile" onchange="angular.element(this).scope().previewAccountLogo(this)" type="file" accept="image/*"/>
						</span>
					</div>
				</div>

				<!-- Edit Logo Buttons (after change) -->
				<div class="row" ng-if="allowEditLogo">
					<div class="col-md-12">
						<button type="button" class="btn btn-default btn-block" ng-click="cancelChangeLogo()">Cancel</button>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-success btn-block" ng-click="saveAccountLogo()">Save</button>
					</div>
				</div>


			</div>
		</div>

		<!-- Company info -->
		<div class="col-md-5">
			<div class="accountSection" ng-style="computeSectionStyle('company')">

				<h3 class="noSpace" style="margin-bottom:10px;">Company Information</h3>
				<form ng-model="companyInfo" style="font-size:16px;">
					<!-- Company Name -->
					<div>
						<label>Name: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.name }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.name"/>
						</div>
					</div>
					<!-- Company HQ -->
					<div ng-if="!allowEditCompany" class="fadeInOut">
						<label>HQ: </label>
						<span> {{ companyInfo.city }} {{ companyInfo.state }}, {{ companyInfo.country }}</span>
						<div class="form-group"></div><!-- Spacer -->
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>City:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.city"/>
						</div>
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>State:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.state"/>
						</div>
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>Country:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.country"/>
						</div>
					</div>
					<!-- Company Email -->
					<div>
						<label>Billing Email: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.email }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.email"/>
						</div>
					</div>
					<!-- Company Phone -->
					<div>
						<label>Billing Phone: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.phone }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.phone"/>
						</div>
					</div>
				</form>

				<!-- Edit Company Buttons -->
				<div class="row fadeInOut" ng-if="!allowEditCompany">
					<div class="col-md-6">
						<button ng-disabled="allowEditPersonal || allowEditPassword || allowEditLogo" type="button" ng-click="editCompanyInfo()" class="btn btn-default btn-block">Update Company Info</button>
					</div>
				</div>

				<div class="row fadeInOut" ng-if="allowEditCompany">
					<div class="col-md-6">
						<button ng-disabled="companySubmitting" type="button" ng-click="cancelSaveCompany()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6">
						<button ng-disabled="companySubmitting" type="button" ng-click="saveCompany(companyInfo)" class="btn btn-success btn-block">
							<span ng-if="!companySubmitting">Save Changes</span>
							<span ng-if="companySubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
					</div>
			</div>
		</div>


		<!-- Personal info -->
		<div class="col-md-5">
			<div class="accountSection" ng-style="computeSectionStyle('personal')">

				<h3 class="noSpace" style="margin-bottom:10px;">Your Personal Information</h3>
				<form ng-if="!allowEditPassword" ng-model="personalInfo" style="font-size:16px;">
					<!-- Name -->
					<div ng-if="!allowEditPersonal" class="fadeInOut">
						<label>Name: </label>
						<span ng-if="!allowEditPersonal"> {{ personalInfo.firstName }} {{ personalInfo.lastName }}</span>
						<div class="form-group"></div><!-- Spacer -->
					</div>
					<div ng-if="allowEditPersonal" class="fadeInOut">
						<label>First Name: </label>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="form-control" ng-model="personalInfo.firstName"/>
						</div>
					</div>
					<div ng-if="allowEditPersonal" class="fadeInOut">
						<label>Last Name: </label>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="form-control" ng-model="personalInfo.lastName"/>
						</div>
					</div>
					<!-- Role -->
					<div ng-if="!allowEditPersonal" class="fadeInOut">
						<label>Role: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.role }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.role"/>
						</div>
					</div>
					<!-- Personal Email -->
					<div>
						<label>Email: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.email }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.email"/>
						</div>
					</div>
					<!-- Personal Phone -->
					<div>
						<label>Mobile: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.phone }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.phone"/>
						</div>
					</div>
				</form>

				<form ng-if="allowEditPassword" ng-model="passwordInfo" style="font-size:16px;">
					<!-- Current password -->
					<div>
						<label>Current password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.current" autocomplete="off"/>
						</div>
					</div>
					<!-- New password -->
					<div>
						<label>New password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.new" autocomplete="new-password"/>
						</div>
					</div>
					<!-- Confirm new password -->
					<div>
						<label>Confirm new password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.newConfirm" autocomplete="new-password"/>
						</div>
					</div>
				</form>

				<!-- Edit Personal Info Buttons -->
				<div class="row fadeInOut" ng-if="!allowEditPersonal && !allowEditPassword">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="allowEditCompany || allowEditLogo" type="button" ng-click="editPersonalInfo()" class="btn btn-default btn-block">Update Personal Info</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="allowEditCompany || allowEditLogo" type="button" ng-click="editPassword()" class="btn btn-default btn-block"><i class="fa fa-lock"></i> Change My Password</button>
					</div>
				</div>

				<!-- Cancel & Save (Personal Info) -->
				<div class="row fadeInOut" ng-if="allowEditPersonal">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="personalSubmitting" type="button" ng-click="cancelSavePersonal()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="personalSubmitting" type="button" ng-click="savePersonal(personalInfo)" class="btn btn-success btn-block">
							<span ng-if="!personalSubmitting">Save Changes</span>
							<span ng-if="personalSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
				</div>

				<!-- Cancel & Save (Password) -->
				<div class="row fadeInOut" ng-if="allowEditPassword">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="passwordSubmitting" type="button" ng-click="cancelEditPassword()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="passwordSubmitting" type="button" ng-click="savePassword(passwordInfo)" class="btn btn-success btn-block">
							<span ng-if="!passwordSubmitting">Update Password</span>
							<span ng-if="passwordSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<!-- Inbox Management -->
<div class="container" style="margin-top:10px;padding: 0px 10px 0px 10px;">
	<div class="row">
		<div class="col-md-12">
			<h3 class="noSpace" style="margin-bottom:25px;">Your Inboxes</h3>
		</div>
	</div>
	<div class="container-fluid">
		<!-- List Header -->
		<div class="row listHeader">
			<div class="col-md-5">Description</div>
			<div class="col-md-2 text-center">Messages</div>
			<div class="col-md-3 text-center">Status</div>
			<div class="col-md-2"></div>
		</div>

		<!-- Create one row for each inbox -->
		<div ng-repeat="inbox in accountInboxes" class="row listRow">
			<div class="col-md-5">
	            <h4>{{ inbox.name }}</h4>
			</div>
			<div class="col-md-2 text-center">
	            <h4>{{ inbox.message_count }}</h4>
			</div>
			<div class="col-md-3 text-center">
	            <h4>{{ inbox.status }}</h4>
			</div>
			<div class="col-md-2">
	            <h4><a class="btn btn-default btn-block" ng-href="#/account/inbox/config/{{inbox._id}}"><i class="fa fa-cog"></i> Configure</a></h4>
			</div>
		</div>
	</div>
</div>


<!-- Reset Link modal -->
<div id="tokenResetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>After you do this, your old link will no longer work</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="resetPrimaryInboxToken()">Do it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>
