<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-4">
		<h4 class="noSpace">Your Account</h4>
	</div>
	<div class="col-md-8 text-right">
		<span>Feedback form for your employees: </span>
		<a style="font-weight:bold;" ng-href="http://localhost:1337/inboxes/#/{{currentUser.account._primary_inbox.number}}?t={{currentUser.account._primary_inbox.token}}">localhost:1337/inboxes/{{ currentUser.account._primary_inbox.number }}?t={{currentUser.account._primary_inbox.token}}</a>
		<button data-toggle="modal" data-target="#tokenResetModal" style="margin-left:10px;" ng-disabled="allowEditCompany || allowEditPersonal || allowEditPassword" type="button" style="margin:0px 10px 0px 0px;" class="btn btn-sm btn-warning"><i class="fa fa-warning"></i> Reset link</button>
	</div>
</div>

<!-- Alerts Include -->
<span ng-include="'views/includes/alerts.html'"></span>

<div class="container-fluid" style="margin-top:10px;padding: 0px 10px 0px 10px;">
	<!-- Main Link & basic info -->
	<div class="col-md-12">
		<!-- Logo -->
		<div class="col-md-2">
			<div class="accountSection" ng-style="computeSectionStyle('logo')">
				<!-- Logo Image -->
				<div class="accountLogoContainer">
					<img class="accountLogo" ng-src="{{ currentUser.account.logo }}"/>
				</div>
			
				<!-- Edit Logo Buttons -->
				<div class="row">
					<div class="col-md-12">
						<button ng-disabled="allowEditCompany || allowEditPersonal || allowEditPassword" onclick="alert('TODO')" type="button" class="btn btn-default btn-block">Change Logo</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Company info -->
		<div class="col-md-5">
			<div class="accountSection" ng-style="computeSectionStyle('company')">

				<h3 class="noSpace" style="margin-bottom:10px;">Company Information</h3>
				<form ng-model="companyInfo" style="font-size:16px;">
					<!-- Company Name -->
					<div>
						<label>Name: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.name }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.name"/>
						</div>
					</div>
					<!-- Company HQ -->
					<div ng-if="!allowEditCompany" class="fadeInOut">
						<label>HQ: </label>
						<span> {{ companyInfo.city }} {{ companyInfo.state }}, {{ companyInfo.country }}</span>
						<div class="form-group"></div><!-- Spacer -->
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>City:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.city"/>
						</div>
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>State:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.state"/>
						</div>
					</div>
					<div ng-if="allowEditCompany" class="fadeInOut">
						<label>Country:</label>
						<div class="form-group">
							<input ng-disabled="companySubmitting" type="text" class="form-control" ng-model="companyInfo.country"/>
						</div>
					</div>
					<!-- Company Email -->
					<div>
						<label>Billing Email: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.email }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.email"/>
						</div>
					</div>
					<!-- Company Phone -->
					<div>
						<label>Billing Phone: </label>
						<span class="fadeInOut" ng-if="!allowEditCompany"> {{ companyInfo.phone }}</span>
						<div class="form-group">
							<input ng-disabled="companySubmitting" ng-if="allowEditCompany" type="text" class="fadeInOut form-control" ng-model="companyInfo.phone"/>
						</div>
					</div>
				</form>

				<!-- Edit Company Buttons -->
				<div class="row fadeInOut" ng-if="!allowEditCompany">
					<div class="col-md-6">
						<button ng-disabled="allowEditPersonal || allowEditPassword" type="button" ng-click="editCompanyInfo()" class="btn btn-default btn-block">Update Company Info</button>
					</div>
				</div>

				<div class="row fadeInOut" ng-if="allowEditCompany">
					<div class="col-md-6">
						<button ng-disabled="companySubmitting" type="button" ng-click="cancelSaveCompany()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6">
						<button ng-disabled="companySubmitting" type="button" ng-click="saveCompany(companyInfo)" class="btn btn-success btn-block">
							<span ng-if="!companySubmitting">Save Changes</span>
							<span ng-if="companySubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
					</div>
			</div>
		</div>


		<!-- Personal info -->
		<div class="col-md-5">
			<div class="accountSection" ng-style="computeSectionStyle('personal')">

				<h3 class="noSpace" style="margin-bottom:10px;">Your Personal Information</h3>
				<form ng-if="!allowEditPassword" ng-model="personalInfo" style="font-size:16px;">
					<!-- Name -->
					<div ng-if="!allowEditPersonal" class="fadeInOut">
						<label>Name: </label>
						<span ng-if="!allowEditPersonal"> {{ personalInfo.firstName }} {{ personalInfo.lastName }}</span>
						<div class="form-group"></div><!-- Spacer -->
					</div>
					<div ng-if="allowEditPersonal" class="fadeInOut">
						<label>First Name: </label>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="form-control" ng-model="personalInfo.firstName"/>
						</div>
					</div>
					<div ng-if="allowEditPersonal" class="fadeInOut">
						<label>Last Name: </label>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="form-control" ng-model="personalInfo.lastName"/>
						</div>
					</div>
					<!-- Role -->
					<div ng-if="!allowEditPersonal" class="fadeInOut">
						<label>Role: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.role }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.role"/>
						</div>
					</div>
					<!-- Personal Email -->
					<div>
						<label>Email: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.email }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.email"/>
						</div>
					</div>
					<!-- Personal Phone -->
					<div>
						<label>Mobile: </label>
						<span class="fadeInOut" ng-if="!allowEditPersonal"> {{ personalInfo.phone }}</span>
						<div class="form-group">
							<input ng-disabled="personalSubmitting" ng-if="allowEditPersonal" type="text" class="fadeInOut form-control" ng-model="personalInfo.phone"/>
						</div>
					</div>
				</form>

				<form ng-if="allowEditPassword" ng-model="passwordInfo" style="font-size:16px;">
					<!-- Current password -->
					<div>
						<label>Current password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.current" autocomplete="off"/>
						</div>
					</div>
					<!-- New password -->
					<div>
						<label>New password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.new" autocomplete="new-password"/>
						</div>
					</div>
					<!-- Confirm new password -->
					<div>
						<label>Confirm new password: </label>
						<div class="form-group">
							<input ng-disabled="passwordSubmitting" type="password" class="fadeInOut form-control" ng-model="passwordInfo.newConfirm" autocomplete="new-password"/>
						</div>
					</div>
				</form>

				<!-- Edit Personal Info Buttons -->
				<div class="row fadeInOut" ng-if="!allowEditPersonal && !allowEditPassword">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="allowEditCompany" type="button" ng-click="editPersonalInfo()" class="btn btn-default btn-block">Update Personal Info</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="allowEditCompany" type="button" ng-click="editPassword()" class="btn btn-default btn-block"><i class="fa fa-lock"></i> Change My Password</button>
					</div>
				</div>

				<!-- Cancel & Save (Personal Info) -->
				<div class="row fadeInOut" ng-if="allowEditPersonal">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="personalSubmitting" type="button" ng-click="cancelSavePersonal()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="personalSubmitting" type="button" ng-click="savePersonal(personalInfo)" class="btn btn-success btn-block">
							<span ng-if="!personalSubmitting">Save Changes</span>
							<span ng-if="personalSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
				</div>

				<!-- Cancel & Save (Password) -->
				<div class="row fadeInOut" ng-if="allowEditPassword">
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="passwordSubmitting" type="button" ng-click="cancelEditPassword()" class="btn btn-default btn-block">Cancel</button>
					</div>
					<div class="col-md-6 fadeInOut">
						<button ng-disabled="passwordSubmitting" type="button" ng-click="savePassword(passwordInfo)" class="btn btn-success btn-block">
							<span ng-if="!passwordSubmitting">Update Password</span>
							<span ng-if="passwordSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving</span>
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div style="display:none;" class="container-fluid">

	<div class="col-md-6" ng-style="computeSectionStyle('planDetails')">
		
		<!-- Plan Details -->
		<div class="row planDetailsContainer">
			<!-- Price -->
			<div class="col-md-3 text-center">
				<div class="currentPlanTitle">Team Plan</div>
				<div class="currentPlanPriceMain"><span class="currentPlanPriceSymbol">$</span>99</div>
				<div><h4>Per Month</h4></div>
			</div>
			<!-- Features 1 -->
			<div class="col-md-5">
				<div class="currentPlanDetailContainer">
					<span>Users </span>
					<span style="font-weight:600;">5</span>
				</div>
				<div class="currentPlanDetailContainer">
					<span>Inboxes </span>
					<span style="font-weight:600;">5</span>
				</div>
				<div class="currentPlanDetailContainer">
					<span>Messages </span>
					<span style="font-weight:600;">1500/Month</span>
				</div>
				<div class="currentPlanDetailContainer">
					<span>Mood insights </span>
					<span style="font-weight:600;">Unlimited</span>
				</div>
				<div class="currentPlanDetailContainer">
					<span>SSL </span>
					<span style="font-weight:600;">Encrypted</span>
				</div>
			</div>
			<!-- Features 1 -->
			<div class="col-md-4">
				<a href="#/upgrade" type="button" style="padding: 10px 0px 10px 0px;" class="btn btn-primary btn-block btn-lg">Upgrade your plan!</a>
			</div>

		</div>
	</div>

	<!-- Usage Details -->
	<div class="col-md-6" ng-style="computeSectionStyle('planDetails')">
		
		<div class="row">
			<div class="col-md-6">
				<h3 class="noSpace">Usage</h3>
			</div>

			<div class="col-md-6 text-right">
				<span>Your monthly limits will reset on 12/12/2016</span>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4 text-center">
				<div id="chartUsers" class="ct-chart ct-perfect-fourth"></div>
				<div>4 Users</div>
			</div>

			<div class="col-md-4 text-center">
				<div id="chartInboxes" class="ct-chart ct-perfect-fourth"></div>
				<div> 1 Inbox</div>
			</div>

			<div class="col-md-4 text-center">
				<div id="chartMessages" class="ct-chart ct-perfect-fourth"></div>
				<div>27 Messages</div>
			</div>

		</div>

	</div>

</div>



<!-- Reset Link modal -->
<div id="tokenResetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        
        <h4>After you do this, your old link will no longer work</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="resetPrimaryInboxToken()">Do it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>

  </div>
</div>



<h1>Edit your account</h1>

<hr>

<h2>Your avatar</h2>

<input type="file" id="file-input">
<p id="status">Please select a file</p>
<img style="border:1px solid gray;width:300px;"  id="preview" src="/images/default.png">

<h2>Your information</h2>

<form method="POST" action="/save-details">
  <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="full-name" placeholder="Full name"><br><br>

  <hr>
  <h2>Save changes</h2>

  <input type="submit" value="Update profile">
</form>


<script>
/*
  Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function uploadFile(file, signedRequest, url){
  const xhr = new XMLHttpRequest();
  xhr.open('PUT', signedRequest);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        document.getElementById('preview').src = url;
        document.getElementById('avatar-url').value = url;
      }
      else{
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(file);
}
/*
  Function to get the temporary signed request from the app.
  If request successful, continue to upload the file using this signed
  request.
*/
function getSignedRequest(file){
  const xhr = new XMLHttpRequest();
  xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        const response = JSON.parse(xhr.responseText);
        uploadFile(file, response.signedRequest, response.url);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}
/*
 Function called when file input updated. If there is a file selected, then
 start upload procedure by asking for a signed request from the app.
*/
function initUpload(){
  const files = document.getElementById('file-input').files;
  const file = files[0];
  if(file == null){
    return alert('No file selected.');
  }
  getSignedRequest(file);
}
/*
 Bind listeners when the page loads.
*/
(() => {
    document.getElementById('file-input').onchange = initUpload;
})();
</script>

