<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/account"> Your Account</a></h4>
		</div>
		<div class="col-md-4">
			<span ng-include="'views/includes/alerts-title-sm.html'"></span>
		</div>
		<div class="col-md-4 text-right">
			<h4><a ng-href="#/inbox/{{selectedInbox._id}}">See the messages in this Inbox</a> <i class="fa fa-arrow-right"></i></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left hideInMobile"><i class="fa fa-inbox mainColor"></i> Configure Inbox</h2>
			<h2 class="grayText text-center hideInDesktop"><i class="fa fa-inbox mainColor"></i> Configure Inbox</h2>

		</div>
	</div>
</div>

<!-- If the inbox is inactive, show a warning -->
<div ng-if="selectedInbox.status == 'inactive'" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning text-center">
			  <i class="fa fa-info-circle"></i>
			  <span>This Inbox is inactive. Activate it to enable feedback submission</span>
			</div>
		</div>
	</div>
</div>

<!-- Loading -->
<div ng-if="inboxLoading" class="container fadeInOut">
	<div class="row">
		<div class="col-md-12 text-center">
			<i class="fa fa-cog fa-spin loadingIcon"></i>
		</div>
	</div>
</div>

<!-- Content -->
<div ng-if="!inboxLoading" class="container fadeInOut">
	<form name="editInboxForm" ng-model="selectedInbox">
		<div class="row">
			<!-- Inbox Image -->
			<div class="col-md-3">
				<div class="accountSection">
					<!-- Inbox Image -->
					<div class="accountLogoContainer">
						<img class="accountLogo" ng-src="{{ inboxImageSource }}"/>
					</div>
				
					<!-- Edit Image Button (before change) -->
					<div class="row" ng-if="!allowEditImage">
						<div class="col-md-12">
							<span class="btn btn-block btn-default btn-file">
							    Change Inbox Image <input ng-disabled="inboxLoading || inboxSubmitting" ng-model="inboxImageFile" onchange="angular.element(this).scope().previewInboxImage(this)" type="file" accept="image/*"/>
							</span>
						</div>
					</div>

					<!-- Edit Image Buttons (after change) -->
					<div class="row" ng-if="allowEditImage">
						<div class="col-md-12">
							<button type="button" ng-disabled="inboxLoading || inboxSubmitting" class="btn btn-default btn-block" ng-click="cancelChangeImage()">Cancel</button>
						</div>
						<div class="col-md-12">
							<button type="button" ng-disabled="inboxLoading || inboxSubmitting" class="btn btn-success btn-block" ng-click="saveInboxImage()">Save</button>
						</div>
					</div>
				</div>
			</div>


			<!-- Inbox Info -->
			<div class="col-md-8">
				<div class="accountSection">
					<!-- Status -->
					<div>
						<div class="form-group">
							<span ng-if="selectedInbox.status == 'active'" class="activeInboxIndicator fadeInOut">ACTIVE</span>
							<span ng-if="selectedInbox.status == 'inactive'" class="inactiveInboxIndicator fadeInOut">INACTIVE</span>
						</div>
					</div>

					<!-- Description -->
					<div>
						<label>Description: </label>
						<div class="form-group">
							<input name="description" ng-disabled="inboxLoading || inboxSubmitting" type="text" class="fadeInOut form-control" ng-class="computeRequiredInputStyle(editInboxForm.description)" ng-model="selectedInbox.description" required/>
						</div>
					</div>

					<!-- Public Title -->
					<div>
						<label>Public Title: </label>
						<div class="form-group">
							<input name="publicTitle" ng-disabled="inboxLoading || inboxSubmitting" type="text" class="fadeInOut form-control" ng-class="computeRequiredInputStyle(editInboxForm.publicTitle)" ng-model="selectedInbox.public_title" required/>
						</div>
					</div>

					<!-- Inbox URL -->
					<div>
						<label>Public URL: </label>
						<div class="form-group">
							<h4><a style="margin-right:25px;" ng-href="{{baseURL}}/inbox/#/{{selectedInbox.number}}?t={{selectedInbox.token}}">{{baseURL}}/inbox/#/{{selectedInbox.number}}?t={{selectedInbox.token}}</a></h4>
						</div>
					</div>
					

					<div class="row fadeInOut">

						<!-- Delete button -->
						<div class="col-md-3">
							<button ng-if="selectedInbox._id != currentUser.account._primary_inbox" ng-disabled="inboxLoading || inboxSubmitting" data-toggle="modal" data-target="#deleteInboxModal" type="button" class="btn btn-danger btn-block">
								<span ng-if="!inboxSubmitting"><i class="fa fa-warning"></i> Delete Inbox</span>
								<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
							</button>
							<br class="hieInDesktop"/>
						</div>

						<!-- Reset Link button -->
						<div class="col-md-3">
							<button ng-disabled="inboxLoading || inboxSubmitting" data-toggle="modal" data-target="#tokenResetModal" type="button" class="btn btn-warning btn-block">
								<span ng-if="!inboxSubmitting"><i class="fa fa-warning"></i> Reset Link </span>
								<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
							</button>
							<br class="hieInDesktop"/>
						</div

						<!-- Make inactive button -->
						<div class="col-md-3">
							<button ng-if="selectedInbox.status == 'active'" ng-disabled="inboxLoading || inboxSubmitting" data-toggle="modal" data-target="#inactivateModal" type="button" class="btn btn-warning btn-block">
								<span ng-if="!inboxSubmitting"><i class="fa fa-warning"></i> Make Inactive</span>
								<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
							</button>
							<button ng-if="selectedInbox.status == 'inactive'" ng-disabled="inboxLoading || inboxSubmitting" ng-click="toggleInboxStatus('active')" type="button" class="btn btn-success btn-block">
								<span ng-if="!inboxSubmitting"><i class="fa fa-warning"></i> Make Active</span>
								<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
							</button>
							<br class="hieInDesktop"/>
						</div>

						<!-- Save button -->
						<div class="col-md-3">
							<button ng-disabled="inboxLoading || inboxSubmitting || editInboxForm.$invalid" type="submit" ng-click="saveInbox(selectedInbox)" class="btn btn-success btn-block">
								<span ng-if="!inboxSubmitting">Save Changes</span>
								<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


<!-- Delete Inbox modal -->
<div id="deleteInboxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>Deleting an inbox is permanent and you will lose all feedback</h4>
        <h4>Consider making it inactive instead</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-danger btn-block" ng-click="deleteInbox()">Delete it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>


<!-- Inactivate modal -->
<div id="inactivateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>After you do this, people will be unable to submit feedback through this inbox</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="toggleInboxStatus('inactive')">I'm sure</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>


<!-- Reset Link modal -->
<div id="tokenResetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>After you do this, your old link will no longer work</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="resetToken()">Do it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>