<!-- Control Bar -->
<div class="container-fluid pageTitle">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/account"> Your Account</a></h4>
		</div>
		<div class="col-md-4">
			<span ng-include="'views/includes/alerts-title-sm.html'"></span>
		</div>
		<div class="col-md-4 text-right">
			<h4><a ng-href="#/inbox/{{selectedInbox._id}}">See the messages in this Inbox</a> <i class="fa fa-arrow-right"></i></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText"><i class="fa fa-inbox mainColor"></i> Configure Inbox</h2>
		</div>
	</div>
</div>

<!-- Content -->
<div class="container">
	<div class="row">
		<!-- Inbox Image -->
		<div class="col-md-3">
			<div class="accountSection" ng-style="computeSectionStyle('logo')">
				<!-- Inbox Image -->
				<div class="accountLogoContainer">
					<img class="accountLogo" ng-src="{{ inboxImageSource }}"/>
				</div>
			
				<!-- Edit Image Button (before change) -->
				<div class="row" ng-if="!allowEditImage">
					<div class="col-md-12">
						<span class="btn btn-block btn-default btn-file">
						    Change Inbox Image <input ng-disabled="inboxLoading || inboxSubmitting" ng-model="inboxImageFile" onchange="angular.element(this).scope().previewInboxImage(this)" type="file" accept="image/*"/>
						</span>
					</div>
				</div>

				<!-- Edit Image Buttons (after change) -->
				<div class="row" ng-if="allowEditImage">
					<div class="col-md-12">
						<button type="button" ng-disabled="inboxLoading || inboxSubmitting" class="btn btn-default btn-block" ng-click="cancelChangeImage()">Cancel</button>
					</div>
					<div class="col-md-12">
						<button type="button" ng-disabled="inboxLoading || inboxSubmitting" class="btn btn-success btn-block" ng-click="saveInboxImage()">Save</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Inbox Info -->
		<div class="col-md-8">
			<div class="accountSection">
				<form ng-model="selectedInbox" style="font-size:16px;">
					<!-- Status -->
					<div>
						<div class="form-group">
							<label>Inbox Status: </label>
							<!-- If Active -->
							<span ng-if="selectedInbox.status == 'active'" class="activeInboxIndicator fadeInOut">ACTIVE</span>
							<button ng-disabled="inboxLoading || inboxSubmitting" ng-if="selectedInbox.status == 'active'" type="button" data-toggle="modal" data-target="#inactivateModal" class="btn btn-warning btn-sm fadeInOut"><i class="fa fa-warning"></i> Make Inactive</button>
							<!-- If Inactive -->
							<span ng-if="selectedInbox.status == 'inactive'" class="inactiveInboxIndicator fadeInOut">INACTIVE</span>
							<button ng-disabled="inboxLoading || inboxSubmitting" ng-if="selectedInbox.status == 'inactive'" type="button" ng-click="toggleInboxStatus('active')" class="btn btn-success btn-sm fadeInOut">Make Active</button>
						</div>
					</div>

					<!-- Description -->
					<div>
						<label>Description: </label>
						<div class="form-group">
							<input ng-disabled="inboxLoading || inboxSubmitting" type="text" class="fadeInOut form-control" ng-model="selectedInbox.description"/>
						</div>
					</div>

					<!-- Public Title -->
					<div>
						<label>Public Title: </label>
						<div class="form-group">
							<input ng-disabled="inboxLoading || inboxSubmitting" type="text" class="fadeInOut form-control" ng-model="selectedInbox.public_title"/>
						</div>
					</div>

					<!-- Inbox URL -->
					<div>
						<label>Public URL: </label>
						<div class="form-group">
							<div><a style="margin-right:25px;" ng-href="{{baseURL}}/inbox/#/{{selectedInbox.number}}?t={{selectedInbox.token}}">{{baseURL}}/inbox/#/{{selectedInbox.number}}?t={{selectedInbox.token}}</a></div>
							<div><button ng-disabled="inboxLoading || inboxSubmitting" data-toggle="modal" data-target="#tokenResetModal" type="button" class="btn btn-sm btn-warning"><i class="fa fa-warning"></i> Reset link</button></div>
						</div>
					</div>
				</form>

				<div class="row fadeInOut">
					<div class="col-md-4"></div><!-- Spacer -->
					<div class="col-md-4">
						<button ng-disabled="inboxLoading || inboxSubmitting" data-toggle="modal" data-target="#deleteInboxModal" type="button" class="btn btn-danger btn-block">
							<span ng-if="!inboxSubmitting"><i class="fa fa-warning"></i> Delete Inbox</span>
							<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
						</button>
					</div>
					<div class="col-md-4">
						<button ng-disabled="inboxLoading || inboxSubmitting" type="button" ng-click="saveInbox(selectedInbox)" class="btn btn-success btn-block">
							<span ng-if="!inboxSubmitting">Save Changes</span>
							<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Saving...</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Delete Inbox modal -->
<div id="deleteInboxModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>Deleting an inbox is permanent and you will lose all feedback</h4>
        <h4>Consider Inactivating it instead</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-danger btn-block" ng-click="deleteInbox()">Delete it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>


<!-- Inactivate modal -->
<div id="inactivateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>After you do this, people will be unable to submit feedback through this inbox</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="toggleInboxStatus('inactive')">I'm sure</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>


<!-- Reset Link modal -->
<div id="tokenResetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h3 class="text-center">Are you sure?</h3>
      </div>
      <div class="modal-body text-center">
        <h4>After you do this, your old link will no longer work</h4>
      </div>
      <div class="modal-footer">
      	<div class="col-md-3"></div><!-- Spacer -->
      	<div class="col-md-3">
        	<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
      	</div>
      	<div class="col-md-3">
      		<button type="button" class="btn btn-warning btn-block" ng-click="resetToken()">Do it</button>
      	</div>
      	<div class="col-md-3"></div><!-- Spacer -->
      </div>
    </div>
  </div>
</div>