<!-- Page Title -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-8"></div><!-- Spacer -->
		<!-- If there is more than 1 inbox, allow switching between them -->
		<div ng-if="!homeLoading && accountInboxes.length > 1" class="col-md-4" style="margin-right:0px;padding-right:0px;">
			<div class="dropdown pull-right">
				<h4 data-toggle="dropdown" class="inboxSwitcherControl">See dashboard for another Inbox <i class="fa fa-caret-down"></i></h4>
				<ul class="dropdown-menu inboxSwitcher">
					<li ng-repeat="inbox in accountInboxes" ng-if="inbox._id != inboxID"><a ng-href="#/home/{{inbox._id}}">{{ inbox.description }}</a></li>
				</ul>
			</div>
		</div>
		<!-- Otherwise, encourage creating additional inboxes -->
		<div ng-if="accountInboxes.length == 1"  class="col-md-4 text-right">
			<h4><a href="#/settings/inbox/new">Create additional inboxes for your account</a> <i class="fa fa-arrow-right"></i></h4>
		</div>
	</div>
</div>

<!-- Loading -->
<div ng-if="homeLoading" class="container fadeInOut">
	<div class="row">
		<div class="col-md-12 text-center">
			<i class="fa fa-cog fa-spin loadingIcon"></i>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container fadeInOut">
	<div class="row">
		<div class="col-md-6">
			<h3 class="grayText hideInDesktop text-center"> {{ accountInboxesObject[inboxID].description }} Dashboard</h3>
			<h2 class="grayText hideInMobile"> {{ accountInboxesObject[inboxID].description }} Dashboard</h2>
			<a class="text-center hideInDesktop" ng-href="#/inbox/{{accountInboxesObject[inboxID]._id}}"><h3> See feedback <span class="fa fa-arrow-right"></span></h3></a>
		</div>
	</div>
</div>

<!-- Home content -->
<div class="container">

	<!-- If nothing is set up -->
	<div ng-if="!homeLoading && homeKeywords.length == 0" class="row fadeInOut grayContainer">
		<div class="col-md-12 text-center noSpace">
			<h3>No feedback found</h3>
			<h3>Just signed up? Check out our guide on <a href="#/support/gettingstarted"> setting up your feedback form</a></h3></h3>
		</div>
	</div>

	<!-- Create the widget for each homepage keyword -->
	<div class="row">
		<div ng-repeat="keyword in homeKeywords track by $index" class="col-md-3 fadeInOut">
			<div class="keywordWidget">
				<div class="keywordGauge" ng-attr-id="keyword_{{$index}}_gauge" ng-init="loadKeywordChart(keyword.title, $index)"></div>
				<h4 class="text-center"><a ng-href="#/inbox/{{accountInboxesObject[inboxID]._id}}">{{ keyword.title }}</a></h4>
			</div>
		</div>
	</div>

	<!-- Feedback Link -->
	<div ng-if="!homeLoading && homeKeywords.length > 0" class="row fadeInOut">
		<div class="col-md-12">
			<a class="pull-right" ng-href="#/inbox/{{accountInboxesObject[inboxID]._id}}"><h4> See feedback <span class="fa fa-arrow-right"></span></h4></a>
		</div>
	</div>
</div>

<div ng-if="!homeLoading" class="container fadeInOut">
	<div class="row" style="margin-top:15px;">
		<div class="col-md-12 text-center noSpace">
			<div class="alert alert-info">
				<i class="fa fa-info-circle"></i> Remember to  <a ng-href="{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}">share the feedback form</a> for this Inbox
			</div>			
		</div>
	</div>
</div>