<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-6">
		<h4>{{ currentUser.account._primary_inbox.description }}</h4>
	</div>
	<div class="col-md-6">
		<div class="dropdown pull-right">
			<h4 data-toggle="dropdown" class="inboxSwitcherControl">See another inbox <i class="fa fa-caret-down"></i></h4>
			<ul class="dropdown-menu inboxSwitcher">
				<li ng-repeat="inbox in accountInboxes"><a ng-href="#/inbox/{{inbox._id}}"><i class="fa fa-inbox"></i> {{ inbox.description }}</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Home content -->
<div class="container homeKeywordListContainer">

	<!-- While loading -->
	<div ng-if="homeLoading" class="row fadeInOut">
		<div class="col-md-12 text-center">
			<i class="fa fa-cog fa-spin loadingIcon"></i>
		</div>
	</div>

	<!-- If nothing is set up -->
	<div ng-if="!homeLoading && homeKeywords.length == 0 && !allowEditKeywordSummary" class="row fadeInOut">
		<div class="col-md-12 text-center" style="padding: 10px 0px 10px 0px;">
			<h3>Oh no! Your homepage isnt set up yet.</h3>
			<h3>Let's add a key phrase or idea that you want to track</h3>
			<button type="button" ng-click="getStarted()" class="btn btn-lg btn-primary"> Add One Now</button>
		</div>
	</div>

	<!-- Create a row for each homepage keyword -->
	<form ng-if="!homeLoading" ng-model="editableHomeKeywords" class="fadeInOut">
		<div class="row">
			<div ng-repeat="keyword in homeKeywords track by $index" class="col-md-3 fadeInOutStagger">
				<div ng-attr-id="keyword_{{$index}}_gauge"></div>
				<button type="button" ng-if="allowEditKeywordSummary" style="position:relative;top:-50px;" ng-click="removeSummaryKeyword($index)" class="btn btn-default btn-block fadeInOut"><i class="removeTopicIcon fa fa-remove"></i> Remove topic</button>
				<h4 ng-if="!allowEditKeywordSummary" style="position:relative;top:-100px;" class="text-center">{{ keyword.title }}</h4>
				<input ng-if="allowEditKeywordSummary" style="position:relative;top:-140px;" type="text" ng-model="editableHomeKeywords[$index].title" class="fadeInOut form-control"/>
			</div>
		</div>
	</form>

	<div ng-if="homeKeywords.length == 0 && allowEditKeywordSummary" class="row fadeInOut text-center">
		<div class="col-md-12" style="padding: 10px 0px 10px 0px;">
			<h4>Oh no! You've removed all keywords! What are you going to look at now?</h4>
		</div>
	</div>

	<!-- Control buttons for editing -->
	<div ng-if="allowEditKeywordSummary" class="row fadeInOut">
		<div class="col-md-2">
			<button type="button" ng-click="addSummaryKeyword()" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add Keyword</button>
		</div>

		<div class="col-md-6"></div><!-- Spacer -->

		<div class="col-md-2">
			<button type="button" ng-click="toggleEditKeywordSummary()" class="btn btn-primary btn-block">Cancel</button>
		</div>
		<div class="col-md-2">
			<button type="button" ng-click="saveKeywordSummary(editableHomeKeywords)" class="btn btn-success btn-block">Save Changes</button>
		</div>
	</div>

	<!-- Edit button -->
	<div ng-if="!homeLoading && homeKeywords.length > 0 && !allowEditKeywordSummary" class="row fadeInOut">
		<div class="col-md-10"></div><!-- Spacer -->
		<div class="col-md-2">
			<button type="button" ng-click="toggleEditKeywordSummary()" class="btn btn-default btn-block"><i class="fa fa-cog"></i> Configure</button>
		</div>
	</div>
</div>

<!-- Adspace -->
<div ng-if="!homeLoading && homeKeywords.length > 0 && !allowEditKeywordSummary" class="container fadeInOut">
	<div class="row" style="margin-top:25px;">
		<div class="col-md-12">
			<div class="alert alert-info text-center">
			  <i class="fa fa-info-circle"></i>
			  <span>Have you <a ng-href="{{baseURL}}/inbox/#/{{currentUser.account._primary_inbox.number}}?t={{currentUser.account._primary_inbox.token}}">shared the feedback form</a> with your employees?</span>
			</div>
		</div>
	</div>
</div>
