<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-6">
		<h4>{{ accountInboxesObject[inboxID].description }}</h4>
	</div>
	<div class="col-md-6">
		<div class="dropdown pull-right">
			<h4 data-toggle="dropdown" class="inboxSwitcherControl">See another inbox <i class="fa fa-caret-down"></i></h4>
			<ul class="dropdown-menu inboxSwitcher">
				<li ng-repeat="inbox in accountInboxes"><a ng-href="#/inbox/{{inbox._id}}"><i class="fa fa-inbox"></i> {{ inbox.description }}</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- List -->
<div ng-if="!messagesLoading" class="container fadeInOut" style="margin-top:25px;">

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info text-center">
				<span>Be sure to share the link for this inbox: <a ng-href="{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}">{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}</a></span>
			</div>
		</div>
	</div>

	<!-- Column Header -->
	<div ng-if="!messagesLoading" class="row listHeader">
		<div class="col-md-1">
			<input type="checkbox" ng-click="toggleAll(message._id)"/>
		</div>
		<div class="col-md-7">Message</div>
		<div class="col-md-3">
			<span>Received</span>
		</div>
		<div class="col-md-1"></div><!-- Spacer -->
	</div>

	<!-- If there are no messages -->
	<div ng-if="!messagesLoading && messages.length == 0" class="row listRow">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>-- No messages --</span>
			</div>
		</div>
	</div>

	<!-- Create 1 row for each message -->
	<div ng-repeat="message in messages" ng-if="!messagesLoading" class="row listRow FadeInOutStagger">
		<div class="col-md-1 text-left">
			<input type="checkbox" ng-checked="selectedMessages.indexOf(message._id) > -1" ng-click="toggleSelectedMessage(message._id)"/>	
		</div>
		<div class="col-md-7">
			
			<div class="ellipsis">
            	<div class="itemCardContent">
            		<a ng-href="#/message/{{ message._id }}">{{ message.content }}</a>
            	</div>
			</div>

		</div>
		<div class="col-md-3">
			<span>{{ formattedDateTime(message.created_at) }}</span>
		</div>
		<div class="col-md-1 text-left">
			<img class="moodIcon" ng-src="{{'img/faces/' + moodMap[message.mood] + '.png'}}"/>
		</div>
	</div>

	<!-- List controls -->
	<div class="row" style="margin-top:10px;">
		<div class="col-md-2">
			<button ng-click="deleteMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-block btn-danger">
				<span class="fa fa-trash-o"></span> Delete Selected
			</button>
		</div>
		<div class="col-md-10"></div><!-- Spacer -->
	</div>

</div>