<!-- Control Bar -->
<div class="container-fluid pageTitle">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/home"> Home</a></h4>
		</div>
		<div class="col-md-4">
			<span ng-include="'views/includes/alerts-title-sm.html'"></span>
		</div>

		<!-- If there is more than 1 inbox, allow switching between them -->
		<div ng-if="accountInboxes.length > 1" class="col-md-4" style="margin-right:0px;padding-right:0px;">
			<div class="dropdown pull-right">
				<h4 data-toggle="dropdown" class="inboxSwitcherControl">See feedback from another inbox <i class="fa fa-caret-down"></i></h4>
				<ul class="dropdown-menu inboxSwitcher">
					<li ng-repeat="inbox in accountInboxes" ng-if="inbox._id != inboxID"><a ng-href="#/inbox/{{inbox._id}}">{{ inbox.description }}</a></li>
				</ul>
			</div>
		</div>

		<!-- Otherwise, encourage creating additional inboxes -->
		<div ng-if="accountInboxes.length == 1"  class="col-md-4 text-right">
			<h4><a href="#/account">Create additional inboxes for your account</a> <i class="fa fa-arrow-right"></i></h4>
		</div>

	</div>
</div>

<!-- Page Title -->
<div class="container fadeInOut" style="margin-top:25px;">
	<div class="row">

		<!-- Inbox title -->
		<div class="col-md-8" style="padding-left:0px;">
			<h2 class="grayText noSpace">
				<i class="fa fa-inbox mainColor"></i>
				<span> {{ accountInboxesObject[inboxID].description }}</span>
			</h2>
			<span ng-if="accountInboxesObject[inboxID].status == 'inactive'" class="inactiveInboxIndicator">INACTIVE</span>
		</div>

		<!-- Search input -->
		<div ng-if="!firstLoad" class="col-md-4" style="padding-right:0px;">
			<form ng-submit="search(searchTerm)">
				<div class="inner-addon left-addon">
					<i class="fa fa-search addonIcon"></i>
					<input ng-disabled="messagesLoading" placeholder="Search Inbox" ng-model="searchTerm" type="text" class="form-control"/>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Loading -->
<div ng-if="messagesLoading" class="container fadeInOut">
	<div class="row">
		<div class="col-md-12 text-center">
			<i class="fa fa-cog fa-spin loadingIcon"></i>
		</div>
	</div>
</div>

<!-- If there are no messages -->
<div ng-if="!messagesLoading && messages.length == 0 && !searched" class="container fadeInOut">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>No feedback found</h3>
			<h4>Make sure you're sharing the link for this inbox: <a ng-href="{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}">{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}</a></h4>
		</div>
	</div>
</div>

<!-- If the inbox is inactive, show a warning -->
<div ng-if="!messagesLoading && accountInboxesObject[inboxID].status == 'inactive'" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-warning text-center">
			  <i class="fa fa-info-circle"></i>
			  <span>This Inbox is inactive. <a ng-href="#/account/inbox/edit/{{accountInboxesObject[inboxID]._id}}">Activate it to enable feedback submission</a></span>
			</div>
		</div>
	</div>
</div>

<!-- List -->
<div ng-if="!messagesLoading && messages.length > 0 || searched" class="container fadeInOut">

	<!-- List Header -->
	<div ng-if="!messagesLoading" class="row listHeader">
		<div class="col-md-1"><input type="checkbox" ng-click="toggleAll(message._id)"/></div>
		<div class="col-md-7">Message</div>
		<div class="col-md-3"><span>Received</span></div>
		<div class="col-md-1"></div><!-- Spacer -->
	</div>

	<!-- If there are no messages -->
	<div ng-if="!messagesLoading && messages.length == 0" class="row listRow FadeInOutStagger">
		<div class="col-md-12 text-center">
			<h3>No feedback found</h3>
			<h4>Try adjusting your search</h4>
			<h4>Also, make sure you're sharing the link for this inbox: <a ng-href="{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}">{{baseURL}}/inbox/#/{{accountInboxesObject[inboxID].number}}?t={{accountInboxesObject[inboxID].token}}</a></h4>
		</div>
	</div>

	<!-- Create one row for each message -->
	<div ng-if="!messagesLoading" ng-repeat="message in messages track by $index" class="row listRow FadeInOutStagger" ng-class="$index == messages.length-1 ? 'listRowLast' : 'listRow'">
		
		<!-- Checkbox -->
		<div class="col-md-1">
			<input type="checkbox" ng-checked="selectedMessages.indexOf(message._id) > -1" ng-click="toggleSelectedMessage(message._id)"/>	
		</div>

		<!-- Message Content -->
		<div class="col-md-7">
			<div class="ellipsis">
            	<div class="itemCardContent">
            		<a ng-href="#/message/{{ message._id }}">{{ message.content }}</a>
            	</div>
			</div>
		</div>

		<!-- Message Received Date -->
		<div class="col-md-3">
			<span>{{ formattedDateTime(message.created_at) }}</span>
		</div>

		<!-- Message Mood -->
		<div class="col-md-1">
			<img class="moodIcon" ng-src="{{'img/faces/' + moodMap[message.mood] + '.png'}}"/>
		</div>
	</div>

	<!-- List controls -->
	<div class="row listControls">
		<div class="col-md-2" style="padding: 0px;">
			<button ng-click="deleteMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-block btn-danger">
				<span class="fa fa-trash-o"></span> Delete Selected
			</button>
		</div>
		<div class="col-md-8"></div><!-- Spacer -->
		<div class="col-md-2" style="padding: 0px;">
			<a class="btn btn-default btn-block" ng-href="#/account/inbox/edit/{{accountInboxesObject[inboxID]._id}}"><i class="fa fa-cog"></i> Configure Inbox</a>
		</div>
	</div>

</div>