<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-6">
		<h4 class="noSpace">
			<img class="moodIcon" ng-src="{{'img/' + moodMap[singleMessage.mood] + '.png'}}"/>
			<span>Message received {{ formattedDateTime(singleMessage.updated_at) }}</span>
			</h4>
	</div>
	<div class="col-md-6 text-right">
		<button type="button" class="btn btn-primary btn-sm" ng-click="archiveSingleMessage(singleMessage._id)"><i class="fa fa-archive"></i> Archive Message</button>
		<button type="button" class="btn btn-danger btn-sm" ng-click="deleteSingleMessage(singleMessage._id)"><i class="fa fa-trash"></i> Delete Message</button>
	</div>
</div>

<div class="container-fluid noSpace">
	<div class="col-md-8">
		<div class="singleMessageContent">
			<span>{{ singleMessage.content }}</span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="singleMessageFeedback">
			<h4>Comment on this message</h4>
			<textarea style="resize:vertical;" ng-model="newComment" type="text" class="form-control defaultInput" rows="5"></textarea>
			<div class="text-right" style="margin-top:10px;">
				<button type="button" ng-click="addComment(newComment)" class="btn btn-warning">Post comment</button>
			</div>
			<div class="commentListContainer">

			<div ng-if="!singleMessage.comments || singleMessage.comments.length == 0" class="text-center">
			<h4>-- No comments --</h4>
			</div>

				<div class="commentListItem fadeInOut" ng-repeat="comment in singleMessage.comments">
					<div class="text-right">{{ formattedDateTime(comment._created_at) }} by {{ comment._created_by.firstName }}</div>
					<div>{{ comment.comment }}</div>
				</div>
			</div>


		</div>
	</div>
</div>
