<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-6">
		<h4 class="noSpace">Today's Messages</h4>
	</div>
</div>

<!-- List -->
<div ng-if="!messagesLoading" class="container-fluid fadeInOut">

	<div ng-if="!messagesLoading && messages.length == 0" class="row entryListRow">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>-- No messages --</span>
			</div>
		</div>
	</div>

	<div ng-if="!messagesLoading" class="row entryListRowHeader">
		<div class="col-md-1">
			<input type="checkbox" ng-checked="selectedMessages.indexOf(message._id) > -1" ng-click="toggleSelectedMessage(message._id)"/>
		</div>
		<div class="col-md-3">
			<span>Received</span>
		</div>
		<div class="col-md-1"></div><!-- Spacer -->
		<div class="col-md-7">Content</div>

	</div>


	<div ng-repeat="message in messages" ng-if="!messagesLoading" class="row entryListRow">
		<div class="col-md-1 text-left">
			<input type="checkbox" ng-checked="selectedMessages.indexOf(message._id) > -1" ng-click="toggleSelectedMessage(message._id)"/>	
		</div>
		<div class="col-md-3">
			<span>{{ formattedDateTime(message.updated_at) }}</span>
		</div>
		<div class="col-md-1 text-left">
			<span><img style="opacity:0;"class="moodIcon" ng-attr-src="{{'img/' + moodMap[message.mood] + '.png'}}"/></span>
		</div>
		<div class="col-md-7">
			<span>{{ message.content }} : {{ message._id }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div style="margin-top:15px;">
				<button ng-click="deleteMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-danger btn-sm">
					<span class="fa fa-trash-o"></span> Delete
				</button>
				<button ng-click="deleteMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-primary btn-sm">
					<span class="fa fa-archive"></span> Archive
				</button>
			</div>
		</div>
	</div>
</div>