<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-6">
		<h4 class="noSpace">{{ listTitle }}</h4>
	</div>
</div>

<!-- Alerts Include -->
<span ng-include="'views/includes/alerts.html'"></span>

<!-- List -->
<div ng-if="!messagesLoading" class="container-fluid fadeInOut">
	<!-- Column Header -->
	<div ng-if="!messagesLoading" class="row messageListHeader">
		<div class="col-md-1">
			<input type="checkbox" ng-click="toggleAll(message._id)"/>
		</div>
		<div class="col-md-7">Message</div>
		<div class="col-md-3">
			<span>Received</span>
		</div>
		<div class="col-md-1"></div><!-- Spacer -->
	</div>

	<!-- If there are no messages -->
	<div ng-if="!messagesLoading && messages.length == 0" class="row messageListRow">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>-- No messages --</span>
			</div>
		</div>
	</div>

	<!-- Create 1 row for each message -->
	<div ng-repeat="message in messages" ng-if="!messagesLoading" class="row messageListRow">
		<div class="col-md-1 text-left">
			<input type="checkbox" ng-checked="selectedMessages.indexOf(message._id) > -1" ng-click="toggleSelectedMessage(message._id)"/>	
		</div>
		<div class="col-md-7">
			
			<div class="ellipsis">
            	<div class="itemCardContent">
            		<a ng-href="#/messages/{{ message._id }}">{{ message.content }}</a>
            	</div>
			</div>

		</div>
		<div class="col-md-3">
			<span>{{ formattedDateTime(message.updated_at) }}</span>
		</div>
		<div class="col-md-1 text-left">
			<img class="moodIcon" ng-src="{{'img/' + moodMap[message.mood] + '.png'}}"/>
		</div>
	</div>

	<!-- List controls -->
	<div class="row">
		<div class="col-md-12">
			<div style="margin-top:15px;">
				<button ng-click="deleteMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-danger">
					<span class="fa fa-trash-o"></span> Delete
				</button>
				<button ng-click="archiveMessages()" ng-disabled="selectedMessages.length == 0" type="button" class="btn btn-primary">
					<span class="fa fa-archive"></span> Archive
				</button>
			</div>
		</div>
	</div>

</div>