<!-- Control Bar -->
<div class="container-fluid pageTitle">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="javascript:history.back()"> Go Back</a></h4>
		</div>
		<div class="col-md-4">
			<span ng-include="'views/includes/alerts-title-sm.html'"></span>
		</div>
		<div class="col-md-4 text-right" style="margin-right:0px;padding-right:0px;">
			<button type="button" class="btn btn-danger" ng-click="deleteSingleMessage(singleMessage._id)"><i class="fa fa-trash"></i> Delete this message</button>
		</div>
	</div>
</div>

<!-- Loading -->
<div ng-if="messagesLoading" class="container fadeInOut">
	<div class="row">
		<div class="col-md-12 text-center">
			<i class="fa fa-cog fa-spin loadingIcon"></i>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="col-md-8">
		<h3>Message received {{ formattedDateTime(singleMessage.updated_at) }}</h3>
		<h4><img class="moodIcon" ng-src="{{'img/faces/' + moodMap[singleMessage.mood] + '.png'}}"/> Why I'm {{ moodMap[singleMessage.mood] }}...</h4>
		<div class="singleMessageContent mainColor">
			<p>"{{ singleMessage.content }}"</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="singleMessageFeedback">
			<h4>Comment on this message</h4>
			<textarea style="resize:vertical;" ng-model="newComment" type="text" class="form-control defaultInput" rows="5"></textarea>
			<div class="text-right" style="margin-top:10px;">
				<button type="button" ng-click="addComment(newComment)" class="btn btn-primary">Post comment</button>
			</div>
			<div class="commentListContainer">

			<div ng-if="!singleMessage.comments || singleMessage.comments.length == 0" class="text-center">
			<h4>-- No comments --</h4>
			</div>

				<div class="commentListItem fadeInOut" ng-repeat="comment in singleMessage.comments">
					<div class="text-right">{{ formattedDateTime(comment._created_at) }} by {{ comment._created_by.firstName }}</div>
					<div>{{ comment.comment }}</div>
				</div>
			</div>

		</div>
	</div>
</div>
