<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/settings"> Settings</a></h4>
		</div>
		<div class="col-md-4">
			<span ng-include="'views/includes/alerts-title-sm.html'"></span>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left hideInMobile"><i class="fa fa-inbox mainColor"></i> New Inbox</h2>
			<h2 class="grayText text-center hideInDesktop"><i class="fa fa-inbox mainColor"></i> New Inbox</h2>
		</div>
	</div>
</div>

<div class="container grayContainer">
	<form name="newInboxForm" ng-model="newInbox">
		<div class="row">

			<!-- Description -->
			<div class="col-md-12">
				<label>Description: </label>
				<div class="form-group">
					<input name="description" ng-disabled="inboxSubmitting" type="text" class="fadeInOut form-control" ng-class="computeRequiredInputStyle(newInboxForm.description)" ng-model="newInbox.description" required/>
				</div>
			</div>

			<!-- Public Title -->
			<div class="col-md-12">
				<label>Public Title: </label>
				<div class="form-group">
					<input name="publicTitle" ng-disabled="inboxSubmitting" type="text" class="fadeInOut form-control" ng-class="computeRequiredInputStyle(newInboxForm.publicTitle)" ng-model="newInbox.public_title" required/>
				</div>
			</div>

			<div class="col-md-8"></div><!-- Spacer -->

			<!-- Submit Button -->
			<div class="col-md-4">
				<div class="buttonContainer">
					<button ng-disabled="inboxSubmitting || newInboxForm.$invalid" type="button" ng-click="createInbox(newInbox)" class="btn btn-success btn-block">
						<span ng-if="!inboxSubmitting">Create Inbox</span>
						<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
					</button>
				</div>
			</div>

			<!-- Inbox URL Info Alert-->
			<div class="col-md-12">
				<div class="alert alert-info text-center">
					<i class="fa fa-info-circle"></i> <span> A unique link will be generated for this Inbox after saving</span>
				</div>
			</div>

		</div>
	</form>
</div>