<!-- Page Title -->
<div class="container-fluid pageTitle">
	<div class="col-md-12">
		<h4 class="noSpace">Configure Inbox</h4>
	</div>
</div>

<div class="container" style="margin-top:10px;padding: 0px 10px 25px 10px;border-bottom:2px">
	<div class="col-md-2"></div><!-- Spacer -->
	<div class="col-md-8">
		<div class="accountSection">
			<form ng-model="newInbox" style="font-size:16px;">

				<!-- Inbox URL -->
				<div>
					<div class="alert alert-info text-center">
						<i class="fa fa-info-circle"></i> <span> A unique link will be generated for your Inbox after saving</span>
					</div>
				</div>

				<!-- Description -->
				<div>
					<label>Description: </label>
					<div class="form-group">
						<input ng-disabled="inboxSubmitting" type="text" class="fadeInOut form-control" ng-model="newInbox.description"/>
					</div>
				</div>

				<!-- Public Title -->
				<div>
					<label>Public Title: </label>
					<div class="form-group">
						<input ng-disabled="inboxSubmitting" type="text" class="fadeInOut form-control" ng-model="newInbox.public_title"/>
					</div>
				</div>
			</form>

			<div class="row fadeInOut">
				<div class="col-md-6"></div><!-- Spacer -->
				<div class="col-md-6">
					<button ng-disabled="inboxSubmitting" type="button" ng-click="createInbox(newInbox)" class="btn btn-success btn-block">
						<span ng-if="!inboxSubmitting">Create Inbox</span>
						<span ng-if="inboxSubmitting"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div><!-- Spacer -->

</div>