<!-- Control Bar -->
<div class="container-fluid pageTitle">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/home"> Home</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container" style="max-width: 900px;">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText"><i class="fa fa-question mainColor"></i> Get Help</h2>
			<h4>Wether you're experienceing an issue, have a question, or just need help setting up, we're here for you. </h4>
		</div>
	</div>
</div>

<div class="container" style="margin-top:25px;max-width: 900px;">
	<form id="supportForm" name="supportForm" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://workwoo.wufoo.com/forms/zaohdxs123hnnd/#public">
		<!-- Required for Wufoo -->
		<input type="hidden" id="idstamp" name="idstamp" value="CPbTItzRmSJbORRUZB9L8dBSPUoYQUPQ6xGdYH2pUq0=" />

		<!-- Auto populated variables -->
		<input id="Field4" ng-value="currentUser.email" name="Field4" type="hidden" class="field text medium" maxlength="255" tabindex="1" onkeyup="" />
		<input id="Field5" ng-value="currentUser.account.name " name="Field5" type="hidden" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" />
		<input id="Field6" ng-value="currentUser.account._id" name="Field6" type="hidden" class="field text medium" maxlength="255" tabindex="3" onkeyup="" />

		<!-- Textarea -->
		<div class="row">
			<div class="col-md-12">
				<label for="Field2">How can we help you?</label>
				<textarea id="Field2" name="Field2" ng-model="supportForm.message" class="form-control" spellcheck="true" rows="5" tabindex="1" onkeyup="" required></textarea>
			</div>
		</div>

		<!-- Submit button -->
		<div class="row">
			<div class="col-md-6"></div><!-- Spacer -->
			<div class="col-md-6">
				<div class="buttonContainer">
					<button ng-disabled="supportForm.$invalid" type="submit" class="btn btn-primary btn-block" type="submit">Submit</button>
				</div>
			</div>
		</div>

	</form>
</div>
