<!-- Control Bar -->
<div class="container-fluid pageTitle">
	<div class="row">
		<div class="col-md-4">
			<h4><i class="fa fa-arrow-left"></i><a href="#/support"> Get help with something else</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container" style="max-width: 900px;margin-top:25px;">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Thank you. We'll contact you right away</h2>
			<h3 class="text-center"><a href="#/">Go to my dashboard <i class="fa fa-arrow-right"></i></a></h3>
		</div>
	</div>
</div>