<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-12">
			<h4><i class="fa fa-arrow-left"></i><a href="#/home"> Home</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container fadeInOut">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left">
				<i class="fa fa-heart mainColor"></i>
				<span> Get Help & Support</span>
			</h2>
		</div>
	</div>
</div>

<!-- Content -->
<div class="container fadeInOut grayContainer">
	<div class="col-md-6">
		<div class="row" class="text-center">
			<div class="col-md-12">
				<h2 class="bold">Just getting started?</h2>
				<h3>Here are some resources to help:</h4>
				<h3><a href="#/support/gettingstarted">Setting up your feedback form</a></h3>
				<h3><a href="#/support/glassdoor">Import reviews from Glassdoor</a></h3>
				<h3><a href="#/support/yelp">Import reviews from Yelp</a></h3>
				<h3><a href="#/support/importother">Import reviews from another source</a></h3>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<h3>Need something else? Let us know:</h3>
		</div>

		<div class="col-md-12">
			<form id="supportForm" name="supportForm" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://workwoo.wufoo.com/forms/zaohdxs123hnnd/#public">
				<!-- Required for Wufoo -->
				<input type="hidden" id="idstamp" name="idstamp" value="CPbTItzRmSJbORRUZB9L8dBSPUoYQUPQ6xGdYH2pUq0=" />

				<!-- Auto populated variables -->
				<input id="Field4" ng-value="currentUser.email" name="Field4" type="hidden" class="field text medium" maxlength="255" tabindex="1" onkeyup="" />
				<input id="Field5" ng-value="currentUser.account.name" name="Field5" type="hidden" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" />
				<input id="Field6" ng-value="currentUser.account._id" name="Field6" type="hidden" class="field text medium" maxlength="255" tabindex="3" onkeyup="" />

				<!-- Textarea -->
				<div class="row">
					<div class="col-md-12">
						<textarea placeholder="How can we help you?" id="Field2" name="Field2" ng-model="supportForm.message" class="form-control" spellcheck="true" rows="5" tabindex="1" onkeyup="" required></textarea>
					</div>
				</div>

				<!-- Submit button -->
				<div class="row">
					<div class="col-md-8"></div><!-- Spacer -->
					<div class="col-md-4">
						<div class="buttonContainer">
							<button ng-disabled="supportForm.$invalid" type="submit" class="btn btn-primary btn-block" type="submit">Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


