body {
	font-family: 'Work Sans', sans-serif;
	background-color: #fff;
	color: #555;
	font-weight: 300;
}

.thin {
	font-weight: 300;
}

.whiteText {
	color: #fff;
}

.noSpace {
	padding: 0px;
	margin: 0px;
}

.badge {
	border-radius: 8px;
}


/*######################### LINKS #########################*/
a {
	-webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    color: #005bb4;
}

.whiteLink {
	color: #fff;
}

.whiteLink:hover {
	color: #b6bbc3;
	text-decoration: none;
}
/*######################### LINKS #########################*/


/*######################### INPUTS #########################*/
.form-control {
	border-radius: 0px;
	box-shadow: none;
	border-color: #d2d5da;
}
/*######################### INPUTS #########################*/


/*######################### BUTTONS #########################*/
.btn {
	-webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.btn-sm {
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	text-transform: none;
}
/*
.btn-primary {
	color: #fff;
	background-color: #005bb4;
	border-color: #005bb4;
}

.btn-primary:hover {
	color: #fff;
	background-color: #004181;
	border-color: #004181;
}

.btn-success {
	color: #fff;
	background-color: #00b459;
	border-color: #00b459;
}


.btn-success:hover {
	color: #fff;
	background-color: #008140;
	border-color: #008140;
}

.btn-danger {
	color: #fff;
	background-color: #b41d00;
	border-color: #b41d00;
}

.btn-danger:hover {
	color: #fff;
	background-color: #811500;
	border-color: #811500;
}
*/
.btn:focus, 
.btn:active, 
.btn.active,
.btn:focus, 
.btn:active, 
.btn.active,
.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #777;
	border-color: #777;
	color: #fff;
}
/*######################### BUTTONS #########################*/


/*######################### ALERTS #########################*/

.alert {
	font-size: 18px;
	border-radius: 0px;
	margin-bottom: 0px;
}

/*######################### ALERTS #########################*/


/*######################### ANIMATIONS #########################*/
.fa-spin {
  -webkit-animation: fa-spin 1.25s infinite linear;
  animation: fa-spin 1.25s infinite linear;
}

.adminLoadingIndicator {
	text-align: center;
	color: #d2d5da;
	font-size: 40px;
}

/* Fade in and fade out staggered */
.fadeInOutStagger.ng-enter {
	transition: .05s;
	opacity: 0;
}

.fadeInOutStagger.ng-enter-stagger {
	transition-delay: 0.025s;
	transition-duration: 0s;
}

.fadeInOutStagger.ng-enter-active {
	opacity: 1;
}

.fadeInOutStagger.ng-leave {
	transition: 0s;
	opacity: 1;
}

.fadeInOutStagger.ng-leave-active {
	opacity: 0;
}

/* Fade in and fade out */
.fadeInOut.ng-enter {
	-webkit-transition: .15s;
	-moz-transition: .15s;
	-ms-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
	opacity: 0;
}

.fadeInOut.ng-enter-active {
	opacity: 1;
}

.fadeInOut.ng-leave {
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	opacity: 1;
}

.fadeInOut.ng-leave-active { 
	opacity: 0;
}

/* Fade in and fade out */
.slideDown.ng-enter {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;

	opacity: 0;
	-ms-transform: scale(1, 0); /* IE 9 */
    -webkit-transform: scale(1, 0); /* Safari */
    transform: scale(1, 0);
}

.slideDown.ng-enter-active {
	opacity: 1;
	-ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

.slideDown.ng-leave {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;

	opacity: 1;
	-ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

.slideDown.ng-leave-active {
	opacity: 0;
	-ms-transform: scale(1, 0); /* IE 9 */
    -webkit-transform: scale(1, 0); /* Safari */
    transform: scale(1, 0);
}
/*######################### ANIMATIONS #########################*/


/*######################### MODALS #########################*/

.modal-content {
	border-radius: 0px;
}

.modal-header, .modal-footer {
	border:none;
}

/*######################### MODALS #########################*/
