/*######################### GLOBAL #########################*/
.pageTitle {
	background-color: #EEEFF1;
	padding: 10px;
	border-bottom: 2px solid #d2d5da;
}

.grayContainer {
	font-size: 18px;
	color: #777;
	padding: 20px;
	background-color: #EEEFF1;
	border-bottom: 2px solid #d2d5da;
}

.grayBorderBox {
	font-size: 18px;
	color: #777;
	padding: 25px;
	background-color: #fff;
	border: 1px solid #d2d5da;
}
/*######################### GLOBAL #########################*/


/*######################### HEADER #########################*/
.header {
	color: #fff;
	background-color: #005bb4;
	padding: 5px 0px 5px 5px;
	font-size: 18px;
	border-bottom: 2px solid #004181;
}

.headerLogoContainer {
	margin-left: 5px;
}

.headerLogoImage {
	height: 25px;
}
/*######################### HEADER #########################*/


/*######################### USER MENU #########################*/
.userMenuIcon {
	font-size: 25px;
	margin-right: 10px;
	-webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.userMenuIcon:hover {
    cursor: pointer;
}

.userMenu {
	-webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    font-size: 18px;
	background-color: #004181;
	border-radius: 0px 0px 0px 5px;
	box-shadow: none;
	border: none;
	top: 32px;
	margin: 0px;
	color: #fff;
	padding: 3px 0px 0px 0px;
}

.userMenu li {
	margin-bottom: 5px;
}

.userMenu li a {
	color: #fff;
}

.userMenu li a:hover {
	color: #fff;
	background-color: #005bb4;
}
/*######################### USER MENU #########################*/


/*######################### MOOD SCALE #########################*/
.moodScaleContainer {
	margin-left: auto;
	margin-right: auto;
	width: 227px;
}
.moodScale {
	position: relative;
	background-color: #d2d5da;
	width: 202px;
	left: 15px;
}
.moodScaleSegment {
	position: relative;
	float: left;
	height: 20px;
	width: 2px;
}
.moodScaleMarker {
	border-radius: 5px;
	border: 2px solid #00274E;
	background-color: #00274E;
	position: absolute;
	top: -4px;
	left: -6px;
	width: 8px; 
	height: 28px; 
	opacity: 0;
}
.moodIcon {
	height: 30px;
	width: 30px;
}
/*######################### MOOD SCALE #########################*/


/*######################### HOMEPAGE #########################*/

.homeKeywordListContainer {
	margin-top: 25px;
	padding: 25px 0px 25px 0px;
}

.homeKeywordValueBar {
	height: 30px;
	background-color: #EEEFF1;
	box-shadow: none;
}

.homeMoodIconContainer {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
/*######################### HOMEPAGE #########################*/


/*######################### MESSAGE LIST #########################*/
.entryListRow {
	position: relative;
	color: #00274e;
	display: block;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #EEEFF1;
}
/*######################### MESSAGE LIST #########################*/


/*######################### ACCOUNT #########################*/
.accountLogo {
	max-height: 100px;
	max-width: 100px;
}

.accountLogoContainer {
	height: 210px;
	min-width: 200px;
}

.accountSectionHeading {
	font-size: 16px;
	padding:10px 10px 15px 15px;
	color: #fff;
	background-color: #005bb4;
}

.accountSection {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.accountSectionContainer {
	background-color: #EEEFF1;
	border-bottom: 2px solid #d2d5da;
	margin: 0px;
	padding: 0px;
}
/*######################### ACCOUNT #########################*/
