@media only screen and (max-width : 992px) {
	/*######################### GLOBAL #########################*/
	.hideInMobile {
		display: none;
	}

	.centerInDesktop {
		text-align: left;
	}

	.pageTitle {
		color: #6f8993;
		background-color: #f3f5f6;
		position: relative;
	}

	.buttonContainer {
		padding: 10px 0px 10px 0px;
	}

	.mediumContainer {
		max-width: 700px;
	}

	.grayBorderBox {
		font-size: 18px;
		color: #777;
		padding: 25px;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #d2d5da;
	}

	.loadingIcon {
		font-size: 150px;
		color: #f3f5f6;
	}

	.moodIcon {
		height: 30px;
		width: 30px;
	}
	/*######################### GLOBAL #########################*/


	/*######################### HEADER #########################*/
	.headerContainer {
		border-radius: 0px;
	    background-color: #2596c3;
	    padding: 0px 15px 0px 15px;
	    margin: 0px;
	    border: none;
		color: #fff;
	}

	.headerLogoImage {
		margin: 0px 0px 0px 10px;
		height: 40px;
	}

	.headerToggleButton {
		font-size: 20px;
		margin: 0px;
	}

	.headerMenu {
		background-color: #56B8DF;
		margin: 0px;
		padding: 0px;
	}

	.headerMenu li {
		margin: 0px;
	}

	.headerMenu li .fa {
		color: #d4dbdf;
		text-shadow:
			1px 1px 1px #2187af,
			1px 1px 1px #2187af;
	}

	.headerMenu li a {
		font-size: 20px;
		margin: 0px;
		padding: 10px 10px 10px 50px;
		border-radius: 0px;
		color: #fff;
	}

	.headerMenu li a:focus,
	.headerMenu li a:hover {
		font-size: 20px;
		margin: 0px;
		padding: 10px 10px 10px 50px;
		border-radius: 0px;
		color: #fff;
		background-color: #2596c3;
	}
	/*######################### HEADER #########################*/


	/*######################### HOMEPAGE #########################*/
	.keywordWidget {
		overflow: hidden;
		margin-bottom: 25px;
		position: relative;
		background-color: #fbfcfc;
		border: 5px solid #f3f5f6;
	}

	.keywordGauge {
		padding: 0px;
		margin-top: -20px;
		max-height: 125px;
	}

	.circliful {
		max-height: 200px;
		padding: 0px;
	}
	/*######################### HOMEPAGE #########################*/


	/*######################### LIST #########################*/
	.listHeader {
		font-size: 16px;
		font-weight: 600;
		padding: 10px;
		background-color: #2596c3;
		color: #fff;
	}

	.listRow, .listRowLast {
		position: relative;
		font-size: 16px;
		padding: 10px;
		background-color: #fbfcfc;
		border-left: 1px solid #e4e9eb;
		border-right: 1px solid #e4e9eb;
	}

	.listRow {
		border-bottom: 2px dotted #e4e9eb;
	}

	.listRowLast {
		border-bottom: 2px solid #fbfcfc;
	}

	.listControls {
		font-size: 16px;
		font-weight: 600;
		padding: 0px;
		background-color: #f3f5f6;
		color: #fff;
	}

	.inboxSwitcherControl {
		width: 100%;
		cursor: pointer;
		user-select: none;
		padding: 10px 30px 10px 30px;
		margin: 0px;
		background-color: #e4e9eb;
	}

	.inboxSwitcher {
		width: 100%;
		-webkit-transition: .25s;
	    -moz-transition: .25s;
	    -ms-transition: .25s;
	    -o-transition: .25s;
	    transition: .25s;
	    font-size: 18px;
		background-color: #f3f5f6;
		border-radius: 0px;
		box-shadow: none;
		border: none;
		top: 39px;
		margin: 0px;
		color: #6f8993;
		padding: 0px;
	}

	.inboxSwitcher li {
		border-left: 5px solid #e4e9eb;
		margin: 0px;
		padding: 0px;
	}

	.inboxSwitcher li a {
		margin: 0px;
		padding: 10px 16px 10px 16px;
		color: #6f8993;
	}

	.inboxSwitcher li a:hover {
		color: #fff;
		background-color: #2596c3;
	}
	/*######################### MESSAGE LIST #########################*/


	/*######################### SINGLE MESSAGE #########################*/
	.singleMessageContent {
		font-style: italic;
		padding: 25px;
		font-size: 20px;
	}

	.singleMessageFeedback {
		color: #6f8993;
		background-color: #f3f5f6;
		margin-top: 15px;
		padding: 15px 25px 25px 25px;
		min-height: 200px;
	}

	.commentListContainer {
		margin: 10px 0px 10px 0px;
	}

	.commentListItem {	
		background-color: #f9fcdc;
		padding: 10px;
		margin-bottom: 2px;
	}
	/*######################### SINGLE MESSAGE #########################*/


	/*######################### ACCOUNT #########################*/
	.accountLogo {
		max-height: 100px;
		max-width: 100px;
	}

	.accountLogoContainer {
		margin-bottom: 10px;
		text-align: center;
		padding: 25px;
		border: 5px solid #f3f5f6;
		background-color: #fff;
	}

	.accountTabOptionContainer {
		margin: 10px 0px 20px 0px;
	}

	.accountTabOptionContainer:hover {

	}

	.accountTabOption {
		-webkit-transition: .25s;
	    -moz-transition: .25s;
	    -ms-transition: .25s;
	    -o-transition: .25s;
	    transition: .25s;
	    color: #56B8DF;
	    padding: 5px;
	    margin-left: 5px;
	}

	.accountTabOption:hover {
		background-color: #56B8DF;
		color: #fff;
		cursor: pointer;
	}
	/*######################### ACCOUNT #########################*/


	/*######################### INBOX CONFIGURATION #########################*/
	.inactiveInboxIndicator, .activeInboxIndicator {
		font-weight: bold;
		font-size: 20px;
	}

	.inactiveInboxIndicator {
		color: #d16d5f;
	}

	.activeInboxIndicator {
		color: #5cb85c;
	}
	/*######################### INBOX CONFIGURATION #########################*/


	/*######################### FEEDBACK FORM #########################*/
	.feedbackFormContainer {
		max-width: 700px;
		color: #6f8993;
		background-color: #f3f5f6;
		padding: 25px 50px 25px 50px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.feedbackFormLogo {
		margin: 10px;
		max-width: 400px;
		max-height: 100px;
	}

	.feedbackMoodContainer {
		text-align: center;
	}

	.feedbackMoodChoiceIcon {
		border-radius: 20px;
		border: 1px solid #fff;
		height: 40px;
		width: 40px;
		margin: 5px;
		-webkit-transition: .25s;
	    -moz-transition: .25s;
	    -ms-transition: .25s;
	    -o-transition: .25s;
	    transition: .25s;
	}

	.feedbackMoodChoiceIcon:hover {
		cursor: pointer;
		border: 1px solid #2596c3;
		box-shadow: 0px 0px 5px #2596c3;
	}
	/*######################### FEEDBACK FORM #########################*/

}