<html>
	<head>
		<!-- Angular, Bootstrap, jQuery, etc -->
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:200,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>

		<!-- Angular app & custom scripts -->
		<script src="js/utils.js"></script>
		<script src="factories.js"></script>

		<script>
			var PasswordResetApp = angular.module('PasswordResetApp', []);
			PasswordResetApp.factory('User', User);
			PasswordResetApp.controller('PasswordResetController', function($scope, User){
				log.info('Loaded');
				$scope.passwordInfo = {};

				$scope.resetPassword = function(passwordInfo) {
					
					var token = $scope.getURLParam('t');
					
					if(passwordInfo.newPassword != passwordInfo.newPasswordConfirm) {
						alert('Passwords don\'t match');
						return;
					}

					var token = $scope.getURLParam('t');
					if(!token) {
						alert('Bad token');
						return;
					}

					User.resetPassword(passwordInfo, token,
					  function(result){
					  	log.info('Password reset success');
					  },
					  function() {
					  	log.error('Something bad happened resetting password');
					  }
					);
				};

				$scope.getURLParam = function(paramName) {
					var results = new RegExp('[\?&]' + paramName + '=([^&#]*)').exec(window.location.href);
					if (results == null){
						return null;
					} else{
						return results[1] || 0;
					}
				};

			});
		</script>

	</head>

	<body ng-app="PasswordResetApp" ng-controller="PasswordResetController">
		
		<form name="passwordResetForm" ng-submit="resetPassword(passwordInfo)">
			<div class="container" style="max-width:500px;">
				<div class="col-md-12">
					<input name="newPassword" type="password" placeholder="New Password" ng-model="passwordInfo.newPassword" class="form-control" required/>
				</div>
				<div class="col-md-12">
					<input name="newPasswordConfirm" type="password" placeholder="Confirm New Password" ng-model="passwordInfo.newPasswordConfirm" class="form-control" required/>
				</div>
				<div class="col-md-12">
					<button ng-disabled="formSubmitting || passwordResetForm.$invalid" type="submit">Login</button>
				</div>
			</div>
		</form>

	</body>


</html>