<style>

	.colorBox {
		width: 100px;
		text-align: center;
		padding: 10px;
	}

</style>


<div class="colorBox" style="color:#fff;background-color:#00274E">#00274E</div>
<div class="colorBox" style="color:#fff;background-color:#004181">#004181</div>
<div class="colorBox" style="color:#fff;background-color:#005bb4">#005bb4</div>
<div class="colorBox" style="color:#000;background-color:#cee7ff">#cee7ff</div>
<br>
<div class="colorBox" style="color:#fff;background-color:#00b459">#00b459</div>
<div class="colorBox" style="color:#fff;background-color:#008140">#008140</div>

<br>
<div class="colorBox" style="color:#fff;background-color:#b41d00">#b41d00</div>
<div class="colorBox" style="color:#fff;background-color:#811500">#811500</div>