<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-12">
			<h4><i class="fa fa-arrow-left"></i><a href="#/support"> Help & Support</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left">Getting Started</h2>
		</div>
	</div>
</div>

<!-- 1. Setup your feedback form -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>1. Setup your feedback form</h3>
			<p>You can configure your Inbox in the Settings menu at the top of the page. Then select the Inbox you want to setup.</p>
			<p>Here you can change the description (not publicly visible), the public title and image.</p>
			<p>This is also where you can preview the public form and get the link to share.</p>
		</div>
		<div class="col-md-6 text-center">
			<img class="img-responsive" src="../img/support/01.png"/>
		</div>
		<div class="col-md-12">
			<p class="text-center">If you need to, you also have options for making the form inactive or resetting link.</p>
		</div>
	</div>
</div>

<!-- 2. Share your feedback form -->
<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-6">
			<h3>2. Share your feedback form</h3>
			<p>After getting the link for your form, be sure to share it with your employees as a place for them to leave feedback.</p>
			<p>You can preview the form for yourself at anytime by visiting the link in the Inbox settings page.</p>
		</div>
		<div class="col-md-6 text-center">
			<img class="img-responsive" src="../img/support/02.png"/>
		</div>
	</div>
</div>

<!-- 3. Setup your dashboard -->
<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-6">
			<h3>3. Setup your dashboard</h3>
			<p class="text-right">After logging in, you'll see something like this. <i class="fa fa-arrow-right"></i></p>
			<p>This is because you don't have any feedback yet so our machine can't figure out the key issues at your company.</p>
			<p>You can start by entering what you feel are important areas or topics at your organization.</p>
			<p>Over time, our machine may change this depending on the feedback you get but it's a good start.</p>
		</div>
		<div class="col-md-6 text-center">
			<img class="img-responsive" src="../img/support/03.png"/>
		</div>
	</div>
</div>

