<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-12">
			<h4><i class="fa fa-arrow-left"></i><a href="#/support"> Help & Support</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left">Setting up your feedback form</h2>
		</div>
	</div>
</div>


<div class="container">
	<!-- 1. Setup your feedback form -->
	<div class="row">
		<div class="col-md-7">
			<h3 style="font-weight:bold;">1. Setup your feedback form.</h3>
			<p>You can configure your Inbox in the Settings menu at the top of the page. Then select the Inbox you want to setup.</p>
			<p>Here you can change the description (not publicly visible), the public title and image.</p>
			<p>This is also where you can preview the public form and get the link to share.</p>
			<p><span style="font-weight:bold;">Some Examples:</span><br><span style="font-style:italic;">"Employee feedback" or "Customer Satisfaction Survey"</span></p>
		</div>
		<div class="col-md-5 text-center">
			<img class="img-responsive" src="../img/support/gettingstarted01.jpg"/>
		</div>
	</div>

	<!-- 2. Share your feedback form -->
	<div class="row" style="border-top: 5px solid #f3f5f6;padding-top:25px;margin-top:25px;">
		<div class="col-md-7">
			<h3 style="font-weight:bold;">2. Share your feedback form.</h3>
			<p>After getting the link for your form, be sure to share it with your employees as a place for them to leave feedback.</p>
			<p>You can preview the form for yourself at anytime by visiting the link in the Inbox settings page.</p>
		</div>
		<div class="col-md-5 text-center">
			<img class="img-responsive" src="../img/support/gettingstarted02.jpg"/>
		</div>
	</div>

	<!-- 2. Share your feedback form -->
	<div class="row" style="border-top: 5px solid #f3f5f6;padding-top:25px;margin-top:25px;">
		<div class="col-md-7">
			<h3 style="font-weight:bold;">3. Check out your dashboard.</h3>
			<p class="text-right">After logging in, you'll see this <i class="fa fa-arrow-right mainColor"></i></p>
			<p>This is because you don't have any feedback yet so our machine can't figure out the key issues at your company.</p>
			<p> After you start receiving feedback, our machine will learn what's important and it will be displayed in the dashboard</p>
			<h3 class="text-center"><a ng-href="#/settings/inbox/edit/{{currentUser.account._primary_inbox}}">Start setting up your form now <i class="fa fa-arrow-right"></i></a></h3>
		</div>
		<div class="col-md-5 text-center">
			<img style="margin-top:35px;"class="img-responsive" src="../img/support/gettingstarted03.png"/>
			<img style="margin-top:35px;"class="img-responsive" src="../img/support/gettingstarted04.jpg"/>
		</div>
	</div>

</div>



