<!-- Control Bar -->
<div class="container-fluid pageTitle hideInMobile">
	<div class="row">
		<div class="col-md-12">
			<h4><i class="fa fa-arrow-left"></i><a href="#/support"> Help & Support</a></h4>
		</div>
	</div>
</div>

<!-- Page Title -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="grayText text-left">Setting up your feedback form</h2>
		</div>
	</div>
</div>

<!-- 1. Setup your feedback form -->
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<p>By default, your inbox is given a generic name which you should change to reflect what you're using it for.</p>
			<p><span style="font-weight:bold;">Some Examples:</span><br><span style="font-style:italic;">"Employee feedback" or "Customer Satisfaction Survey"</span></p>
			<p>Then, you'll want to change the public "Question" that is asked when users come to the form.</p>
		</div>
		<div class="col-md-5 text-center">
			<img class="img-responsive" src="../img/support/gettingstarted01.png"/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<p>You can also change the image for your feedback form.</p>
			<p>When you're done making changes, you can preview the form by clicking the link shown</p>
			<h3 class="text-center"><a ng-href="#/settings/inbox/edit/{{currentUser.account._primary_inbox}}">Setup your form now <i class="fa fa-arrow-right"></i></a></h3>
		</div>
		<div class="col-md-5 text-center">
			<img class="img-responsive" src="../img/support/gettingstarted02.png"/>
		</div>
	</div>
</div>
